@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Course" asp-action="Index" class="btn btn-primary">View Courses</a>
    <a asp-controller="Course" asp-action="CreateEdit" class="btn btn-secondary">Create new</a>
</div>
