<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


@{
    ViewData["Title"] = "Create / Edit";
}


@model UniversityDemo.Application.ViewModels.CourseViewModel
@{
    <div class="text-center">
        <h4 class="display-4">Create / Edit</h4>
    </div>

   <form asp-action="CreateEditForm" class="mt-4 p-4 shadow-sm bg-light rounded">
        <div class="mb-3">
            <input type="hidden" id="courseId" asp-for="Id" />
            <label for="name" class="form-label">Name</label>
            <input id="name" class="form-control" placeholder="Enter name" type="text" asp-for="Name" />
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" class="form-control" placeholder="Enter description" asp-for="Description" rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="imagePath" class="form-label">Image Path</label>
            <input id="imagePath" class="form-control" placeholder="Enter Image path" type="text" asp-for="ImageUri" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-danger" onclick="deleteCourse()">Delete</button>
    </form>

    @section Scripts {
        <script>
            function deleteCourse() {
                const courseId = document.getElementById('courseId').value;
                if (confirm("Are you sure you want to delete this course?")) {
                    $.ajax({
                        url: '@Url.Action("Delete", "Course")', // URL of the Delete action
                        type: 'POST',
                        data: { id: courseId },
                        success: function (result) {
                            if (result.success) {
                                alert("Delete success.")
                                window.location.href = '@Url.Action("Index", "Course")'; // Redirect to Index page
                            } else {
                                alert("An error occurred: " + result.message);
                            }
                        },
                        error: function (xhr, status, error) {
                            alert("An error occurred: " + error);
                        }
                    });
                }
            }
        </script>
    }

}
